# Dados

In [1]:
import pandas as pd
import random
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import matplotlib.animation as animation
import numpy as np

In [ ]:
boston=pd.read_csv('dados/boston.csv',header=None)
boston=boston.rename(columns={boston.columns[0]:'x',boston.columns[1]:'z',boston.columns[2]:'w',boston.columns[3]:'h',boston.columns[4]:'i',
    boston.columns[5]:'e',boston.columns[6]:'o',boston.columns[7]:'l',boston.columns[8]:'g',boston.columns[9]:'f',boston.columns[10]:'s',boston.columns[11]:'u',
    boston.columns[12]:'k',boston.columns[13]:'y'})
boston

,x,z,w,h,i,e,o,l,g,f,s,u,k,y
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [ ]:
gauss=pd.read_csv('dados/gauss.csv')
gauss

         x          y
0      1.0  97.587760
1      2.0  97.763440
2      3.0  96.567050
3      4.0  92.520370
4      5.0  91.150970
..     ...        ...
245  246.0   8.362109
246  247.0   8.983507
247  248.0   3.362469
248  249.0   1.182678
249  250.0   4.875312

[250 rows x 2 columns]

# Modelo

In [ ]:
class PolinomialRegression:
  def __init__(self,opt='SGD'):
    self.w =[]

  def fit(self, x, y,n):
    self.fit_OLS(x, y)
    
  def polinomial_transfomatio(self,x,n):
    df_columns = x.columns
    for column in df_columns:
      for i in n:
        x[f"{column}_{i}"] = x[column]**i
    return x

  def fit_OLS(self, X, y):
     X = X.to_numpy()  #Converte X para um array numpy
     X = X.reshape(-1, 1)  #Da reshape no X para garantir que é 2D
     X_b = np.c_[np.ones((X.shape[0], 1)), X]  #Adiciona a coluna de bias
     y = y.to_numpy()  #Converte y em um array numpy
     w = np.linalg.pinv(X_b.T @ X_b) @ X_b.T @ y
     self.w=w  #Salva o vetor de Ws

  def predict(self, X):
    y_pred=[]# Lista para salvar as predições
    for sample in X:
      y_pred.append(self.w1*sample+self.w0)# Calcula a predição e salva na lista
    return y_pred